@import '~bpk-mixins';

.itinerary-summary {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;

  &__details {
    flex-direction: column;
    flex: 1;
    text-align: left;
  }

  &__price {
    margin-bottom: 0.25rem;
    font-size: $bpk-font-size-xxl;
    font-weight: bold;
  }

  &__agent {
    color: $bpk-color-sky-gray-tint-04;
  }
}
